##References
- [histograms with matplotlib.pyplot](http://pandas.pydata.org/pandas-docs/stable/visualization.html)
- [scipy.stats.mannwhitneyu](http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mannwhitneyu.html)
- [numpy.mean](http://docs.scipy.org/doc/numpy/reference/generated/numpy.mean.html)

In [34]:
import numpy as np
import pandas
from datetime import datetime
from sklearn.linear_model import SGDRegressor
import scipy
import scipy.stats

filename = 'turnstile_data_master_with_weather.csv'

dataFrame = pandas.read_csv(filename)
dataFrame.head()

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,0,R001,2011-05-01,01:00:00,1,REGULAR,0,0,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
1,1,R001,2011-05-01,05:00:00,5,REGULAR,217,553,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
2,2,R001,2011-05-01,09:00:00,9,REGULAR,890,1262,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
3,3,R001,2011-05-01,13:00:00,13,REGULAR,2451,3708,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0
4,4,R001,2011-05-01,17:00:00,17,REGULAR,4400,2501,30.31,42,...,39,30.27,0,0,5,50,60,69,0,0

###Data Wrangling

    You can read a bit about using matplotlib and pandas to plot histograms here
    [histograms](http://pandas.pydata.org/pandas-docs/stable/visualization.html)

##Histgram with pyplot

In [15]:
import matplotlib.pyplot as plt

def entries_histogram(turnstile_weather):
   
    plt.figure()
    turnstile_weather['ENTRIESn_hourly'][(turnstile_weather['rain'] == 0) & (turnstile_weather['ENTRIESn_hourly'] < 6000)].hist(bins=20)
    turnstile_weather['ENTRIESn_hourly'][(turnstile_weather['rain'] == 1) & (turnstile_weather['ENTRIESn_hourly'] < 6000)].hist(bins=20)
    plt.show()
    
    return plt

entries_histogram(dataFrame)

## Mann-Whitney U-Test

In [25]:
def mann_whitney_plus_means(turnstile_weather):

    wr = turnstile_weather['ENTRIESn_hourly'][(turnstile_weather['rain'] == 1)]
    wor = turnstile_weather['ENTRIESn_hourly'][(turnstile_weather['rain'] == 0)]
    with_rain_mean = np.mean(wr)
    without_rain_mean = np.mean(wor)
    U, p = scipy.stats.mannwhitneyu(wr,wor)
    return with_rain_mean, without_rain_mean, U, p

with_rain_mean, without_rain_mean, U, p = mann_whitney_plus_means(dataFrame)

print 'with_rain_mean', with_rain_mean
print 'without_rain_mean', without_rain_mean
print 'U-value', U
print 'P-value', p

with_rain_mean 1105.44637675
without_rain_mean 1090.27878015
U-value 1924409167.0
P-value 0.0193096344138

In [35]:
import numpy as np
import pandas
import statsmodels.api as sm

def linear_regression(features, values):

    features = sm.add_constant(features)
    model = sm.OLS(values, features)
    results = model.fit()
    params = results.params
    intercept = results.params[0]
    params = results.params[1:]
    
    return intercept, params

def predictions(dataframe):
    features = dataframe[['Hour', 'meandewpti', 'meantempi', 'rain']]
    dummy_units = pandas.get_dummies(dataframe['UNIT'], prefix='unit')
    features = features.join(dummy_units)
    
    # Values
    values = dataframe['ENTRIESn_hourly']

    # Perform linear regression
    intercept, params = linear_regression(features, values)
    print 'intercept' ,intercept
    print 'params', params
    
    predictions = intercept + np.dot(features, params)

    return predictions

mta_predictions = predictions(dataFrame)

intercept 1305.80000779
params Hour            67.394149
meandewpti      -1.596967
meantempi       -5.835822
rain            18.496049
unit_R001     2429.967750
unit_R002     -633.183375
unit_R003    -1331.235845
unit_R004    -1006.127824
unit_R005    -1018.179281
unit_R006     -946.497149
unit_R007    -1168.188969
unit_R008    -1134.156751
unit_R009    -1204.703744
unit_R010     3030.900572
unit_R011     6514.677608
unit_R012     5953.077744
unit_R013      965.364608
unit_R014     2487.409915
unit_R015      626.962649
unit_R016     -565.055724
unit_R017     2710.012758
unit_R018     4418.466024
unit_R019     1379.553462
unit_R020     4981.461980
unit_R021     2948.054917
unit_R022     7108.086728
unit_R023     5027.030251
unit_R024     1508.110875
unit_R025     3514.087255
unit_R027     1428.898886
                 ...
unit_R450    -1030.156338
unit_R451     -605.865629
unit_R452     4215.245217
unit_R453      315.751981
unit_R454    -1341.439712
unit_R455    -1394.749754
unit_R456    -1268.614959
unit_R459    -1412.229010
unit_R460       16.212742
unit_R461     1565.068762
unit_R462      498.164987
unit_R463     1581.661395
unit_R464    -1538.668116
unit_R468    -1078.410904
unit_R469    -1075.255345
unit_R535    -1083.839261
unit_R536    -1069.804302
unit_R540    -1367.778364
unit_R541    -1474.606615
unit_R542    -1494.506662
unit_R543    -1531.148874
unit_R544    -1544.685383
unit_R545    -1495.474703
unit_R546    -1356.963300
unit_R547    -1462.470854
unit_R548    -1427.957037
unit_R549    -1568.798036
unit_R550    -1530.538739
unit_R551    -1503.108917
unit_R552    -1438.299662
dtype: float64

In [32]:
import numpy as np
import operator as op

def compute_r_squared(data, predictions):

    SST = ((data - np.mean(data))**2).sum()
    SSReg = ((predictions - data)**2).sum()
    r_squared = 1 - SSReg / SST
    
    return r_squared

r2_value = compute_r_squared(dataFrame['ENTRIESn_hourly'], mta_predictions)
r2_value

0.4580177557110864